.carousel-inner {
  width: 852px;
  height: 639px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bs-docs-nav .navbar-nav li a {
  color: #704C1E;
}

.bs-docs-nav .navbar-brand {
  color: #704C1E;
}

.bs-docs-masthead {
  background-color: #704C1E;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#704C1E),to(#704C1E));
  background-image: -webkit-linear-gradient(top,#704C1E 0,#704C1E 100%);
  background-image: -o-linear-gradient(top,#704C1E 0,#704C1E 100%);
  background-image: linear-gradient(to bottom,#704C1E 0,#704C1E 100%);
}

.carousel-indicators li {
  background-color: #aaaaaa;
}
.carousel-indicators li.active {
  background-color: #222222;
}
